table {
    border: 3px solid fuchsia;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
}

tr {
    font-size: 25px;
}

td {
    padding: 10px;
}

.titulo {
    color: #805fe2;
    background-color: aliceblue;
}

.uno {
    background: linear-gradient(to right, #805fe2 0%, #0cf4f4 100%, #0cf4f4 100%, #0cf4f4 100%, #0cf4f4 101%);
}

.dos {
    background: linear-gradient(to right, #7abcff 0%,#60abf8 81%,#dd49d8 100%);
}